version: "3.8"

services:
  postgres:
    container_name: postgres
    image: library/postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: keycloak_db
    ports:
      - "5437:5432"
    restart: unless-stopped

#  keycloak:
#    image: quay.io/keycloak/keycloak:latest
#    container_name: keycloak
#    environment:
#      DB_VENDOR: POSTGRES
#      DB_ADDR: postgres
#      DB_DATABASE: keycloak_db
#      DB_USER: ${POSTGRES_USER:-postgres}
#      DB_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
#      KEYCLOAK_ADMIN: admin
#      KEYCLOAK_ADMIN_PASSWORD: admin_password
#    ports:
#      - "8484:8080"
#    depends_on:
#      - postgres
#    command:
#      - start-dev
#    links:
#      - "postgres:postgres"